backup/ace/projects/HelloLib/hello_response.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.example.com/hello" xmlns:hi="http://www.example.com/hello" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">

	<xsd:element ibmSchExtn:docRoot="true" name="helloResponse" type="hi:helloResponseType"/>

	<xsd:complexType name="helloResponseType">
		<xsd:sequence>
			<xsd:element name="greeting" type="xsd:string"/>  
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>