projects/SharedImport/dummy.wsdl

<wsdl:definitions name = "dummyService"
   xmlns:xsd   = "http://www.w3.org/2001/XMLSchema"
   xmlns:wsdl  = "http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap  = "http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:srv   = "http://www.example.com/dummyService"
   xmlns:dummy = "http://www.example.com/dummyService/dummyOperaton"
   targetNamespace = "http://www.example.com/dummyService">

	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" xmlns:dummy="http://www.example.com/dummyService/dummyOperaton" targetNamespace="http://www.example.com/dummyService/dummyOperaton">
	        <xsd:element name="dummyMessage" type="dummy:dummyMessageType"/>
	        <xsd:complexType name="dummyMessageType">
		     <xsd:sequence>
			        <xsd:element name="dummy" type="xsd:string"/>  
		        </xsd:sequence>
	        </xsd:complexType>
		</xsd:schema>
    </wsdl:types>

	<wsdl:message name="dummyMessageInput">
		<wsdl:part element="dummy:dummyMessage" name="dummyPartIn"/>
	</wsdl:message>

	<wsdl:message name="dummyMessageOutput">
		<wsdl:part element="dummy:dummyMessage" name="dummyPartOut"/>
	</wsdl:message>

	<wsdl:portType name="dummyPortType">
		<wsdl:operation name="dummyOperation">
			<wsdl:input  message="srv:dummyMessageInput"  name="dummyInput"  />
			<wsdl:output message="srv:dummyMessageOutput" name="dummyOutput" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="dummyBinding" type="srv:dummyPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="dummyOperation">
			<soap:operation soapAction="http://www.example.com/service/dummy" style="document"/>
			<wsdl:input name="dummyInput">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="dummyOutput">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="dummyService">
		<wsdl:port binding="srv:dummyBinding" name="dummyPort">
			<soap:address location="http://www.example.com/dummy"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
