projects/HelloLibImport/hello_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:hi="http://www.example.com/hello" 
	targetNamespace="http://www.example.com/hello"
	attributeFormDefault="unqualified" elementFormDefault="qualified">

	<xsd:element name="helloRequest" type="hi:helloRequestType" />

	<xsd:complexType name="helloRequestType">
		<xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>  
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>
