projects/shared/dummy_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.com/dummyService/dummyOperaton" xmlns:dummy="http://www.example.com/dummyService/dummyOperaton" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:srv="http://www.example.com/dummyService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	        <xsd:element ibmSchExtn:docRoot="true" name="dummyMessage" type="dummy:dummyMessageType"/>
	        <xsd:complexType name="dummyMessageType">
		     <xsd:sequence>
			        <xsd:element name="dummy" type="xsd:string"/>  
		        </xsd:sequence>
	        </xsd:complexType>
		</xsd:schema>